<nav class="navbar">
  <div class="navbar__menu-icon">
  </div>

  <img class="navbar__logo-title" src="/assets/icons/logo-name.svg" alt="Logo">

  <div class="navbar__menu">
    <div>
      <div class="navbar__menu-close-icon"></div>
      <h3 class="navbar__menu-title">CATEGORIES</h3>

      <ul class="navbar__menu-categories-list">
        <li class="navbar__menu-category">
          <a href="/">All</a>
        </li>
        <li class="navbar__menu-category">
          <a href="/">Clothes</a>
        </li>
        <li class="navbar__menu-category">
          <a href="/">Electronics</a>
        </li>
        <li class="navbar__menu-category">
          <a href="/">Fornitures</a>
        </li>
        <li class="navbar__menu-category">
          <a href="/">Toys</a>
        </li>
        <li class="navbar__menu-category">
          <a href="/">Other</a>
        </li>
      </ul>
    </div>

    <div class="navbar__user-info">
      <ul class="navbar__user-options">
        <li class="navbar__user-option">
          <a href="/">My orders</a>
        </li>
        <li class="navbar__user-option">
          <a href="/">My acount</a>
        </li>
      </ul>
      <div class="navbar__user-session">
        <p class="navbar__user-email">diegoquinfa@gmail.com</p>
        <a class="navbar__user-log" href="/">Log out</a>
      </div>
    </div>
  </div>

  <div class="navbar__shopping-cart">
    <div class="navbar__shopping-cart-count">
      3
    </div>
    <img class="navbar__shopping-cart-icon" src="/assets/icons/shopping-cart.svg" alt="cart" class="sc__icon">
  </div>
</nav>
<script src="/scripts/navbar.js"></script>