<nav class="navbar">
  <div class="navbar__menu-icon-container">
    <img class="navbar__menu-icon" src="/assets/icons/menu.svg" alt="" srcset="">
  </div>

  <img class="navbar__logo-title" src="/assets/icons/logo-name.svg" alt="Logo">

  <div class="navbar__shopping-cart">
    <div class="navbar__shopping-cart-count">
      3
    </div>
    <img class="navbar__shopping-cart-icon" src="/assets/icons/shopping-cart.svg" alt="cart" class="sc__icon">
  </div>
</nav>