<div class="search__group">
  <form class="search__input-container">
    <input class="search__input" type="text" name="search" id="search" placeholder="Search">
  </form>

  <ul class="search__category-list">
    <li class="search__category">
      <a class="search__category-anchor search__category-anchor--active" href="#">All</a>
    </li>
    <li class="search__category">
      <a class="search__category-anchor" href="/">Clothes</a>
    </li>
    <li class="search__category">
      <a class="search__category-anchor" href="/">Electronics</a>
    </li>
    <li class="search__category">
      <a class="search__category-anchor" href="/">Fornitures</a>
    </li>
    <li class="search__category">
      <a class="search__category-anchor" href="/">Toys</a>
    </li>
    <li class="search__category">
      <a class="search__category-anchor" href="/">Other</a>
    </li>
  </ul>

  <div class="order__container">
    <span class="order__paragraph">Order:</span>
    <select class="order__select" name="order">
      <option value="recent">Most recent</option>
      <option value="price-asc">Price: Low to High</option>
      <option value="price-desc">Price: High to Low</option>
      <option value="name-asc">Name: A to Z</option>
      <option value="name-desc">Name: Z to A</option>
    </select>
  </div>
</div>