<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Shop</title>
  <link rel="shortcut icon" href="/assets/icons/logo.svg">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <header>
    <%- include('components/navbar.ejs') %>
  </header>
  <main class="main">
    <%- include('components/search.ejs') %>
      <div class="products__container">
        <% for( let i=0; i < 10; i++ ) { %>
          <%- include('components/product-card.ejs', {i}) %>
            <% } %>
      </div>


  </main>
  <dialog class="product-info__container" aria-modal="true">
    <div class="product-info__close-icon"></div>
    <img class="product-info__img"
      src="https://play-lh.googleusercontent.com/a-/ALV-UjXE6J2ouvF14lmJ62HzVgn2hXRfCU8xpqeZaLpWBW3wmg" alt="product">
    <div class="product-info__bottom">
      <div class="product-info__img-dots">
        <span class="product-info__img-dot product-info__img-dot--active"></span>
        <span class="product-info__img-dot"></span>
        <span class="product-info__img-dot"></span>
      </div>

      <article>
        <p class="product-info__bottom-price">$ 120,00</p>
        <h3 class="product-info__bottom-name">
          Round shelf
        </h3>
      </article>

      <p class="product-info__bottom-description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, exercitationem deserunt expedita totam
        mollitia perspiciatis commodi ratione facere dolor consequuntur quod. Id ducimus, blanditiis repellat
        perspiciatis laboriosam ad architecto provident.
      </p>
      <div class="product-info__add-cart-container">
        <button class="product-info__add-cart-buttom">
          <span class="product-info__add-cart-icon"></span>
          Add to cart
        </button>
      </div>
    </div>
  </dialog>
</body>
<script type="module" src="/main.mjs"></script>

</html>