<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Shop</title>
  <link rel="shortcut icon" href="/assets/icons/logo.svg">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <header>
    <%- include('components/navbar.ejs') %>
  </header>
  <main class="main">
    <%- include('components/search.ejs') %>
      <div class="products__container">
        <% for( let i=0; i < 10; i++ ) { %>
          <%- include('components/product-card.ejs', {i}) %>
            <% } %>
      </div>
  </main>
</body>

</html>