@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand.woff2");
}

:root {
  color-scheme: dark;

  --black: #000000;
  --soft-black: #13161c;
  --dark: #232830;

  --white: #FFFFFF;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --text-input-color: #757574;

  --hospital-violet: #6366F1;
  --soft-violet: #A78BFA;
  --complementary-violet: #C06CE5;
  --complementary-hard-violet: #8536B1;

  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: "Quicksand", sans-serif;
  position: relative;
  padding: 61px 0 0 0;
  height: 1000px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

a:hover {
  color: var(--complementary-hard-violet);
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid var(--soft-black);
  box-shadow: 0px 10px 28px -8px var(--dark);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  padding: 0 10px;
}

.navbar__menu-icon {
  width: 40px;
  height: 40px;
  background-image: url("./assets/icons/menu.svg");
  background-size: contain;
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: content-box;
  background-color: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  transform: translate(-100%);
  box-sizing: border-box;
  padding: 40px 30px 30px 30px;
}

.navbar__menu-active {
  transform: translate(0);
}

.navbar__menu-close-icon {
  width: 20px;
  height: 20px;
  background-image: url("./assets/icons/x.svg");
  background-size: contain;
  position: absolute;
  top: 40px;
  right: 30px;
}

.navbar__menu-title {
  font-size: var(--lg);
  margin-bottom: 30px;
}

.navbar__menu-categories-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  font-weight: bold;
  font-size: var(--lg);
}

.navbar__menu-category {
  list-style: none;
}

.navbar__user-info {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.navbar__user-options {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: bold;
  font-size: var(--lg);
}

.navbar__user-option {
  list-style: none;
}

.navbar__user-session {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--lg);

}

.navbar__user-log {
  font-weight: bold;
  color: var(--hospital-violet);
}

.navbar__logo-title {
  height: 35px;
}

.navbar__shopping-cart {
  width: 40px;
  height: 40px;
  position: relative;
}

.navbar__shopping-cart-count {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--hospital-violet);
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: var(--white);
  font-weight: 600;
  font-size: var(--md);
}

.navbar__shopping-cart-icon {
  max-width: 100%;
  max-height: 100%;
}

/* Main */

.main {
  padding: 0 15px 30px 15px;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.search__group {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 0;
}

.search__input-container {
  border-radius: 12px;
  background-color: #F7F7F7;
  width: 100%;
}

.search__input {
  width: 100%;
  height: 42px;
  border-radius: 12px;
  border: 0px;
  padding: 0 50px;
  font-size: var(--md);
  background-color: var(--text-input-field);
  background-image: url("./assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 30px;
  color: var(--text-input-color);
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  color: var(--very-light-pink);
  font-size: var(--md);
}

.search__category-list {
  display: flex;
  align-items: center;
  justify-items: left;
  margin-top: 20px;
  overflow: scroll;
}

.search__category-list::-webkit-scrollbar {
  display: none;
}

.search__category {
  list-style: none;
  font-size: var(--md);
  font-weight: bold;
  color: var(--white);
}

.search__category-anchor {
  padding: 8px 20px;
  border-radius: 12px;
}

.search__category-anchor--active {
  border: 1px solid var(--hospital-violet);
  color: var(--hospital-violet);
}

.order__container {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.order__paragraph {
  font-size: var(--md);
  font-weight: bold;
  padding: 0;
}

.order__select {
  border: 0px;
  border-radius: 12px;
  background-color: var(--dark);
  padding: 0 10px;
  font-size: var(--md);
  font-weight: 400;
  color: var(--white);
}

.order__select:focus {
  outline: none;
}

.order__select option {
  background-color: var(--dark);
  color: var(--white);
}

/* Products */

.products__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  row-gap: 30px;
  margin-top: 20px;
}


/* Product */
.product-card__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card__img {
  max-width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.product-card__info {
  display: flex;
  justify-content: space-between;
}

.product-card__price {
  font-size: var(--md);
  font-weight: bold;
}

.product-card__name {
  font-size: var(--sm);
  font-weight: normal;
}

.product-card__add-shopping-cart,
.product-card__delete-shopping-cart {
  width: 40px;
  height: 40px;
  background-color: var(--hospital-violet);
  background-image: url("./assets/icons/shopping-cart.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.product-card__add-shopping-cart:hover {
  background-color: var(--complementary-violet);
}

.product-card__delete-shopping-cart {
  background-color: var(--complementary-hard-violet);
  background-image: url("./assets/icons/add-shopping-cart.svg");
}